.container {
    padding: 20px;
  }
  
  .post-list {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    justify-content: center;
  }
  
  .post-input {
    border: 1px solid darkblue;
    height: 2rem;
    width: 100%;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .post-add {
    margin-top: 15px;
    background: darkgreen;
  }